/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* General styles */
body {
    background-color: #1C2826;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

.p {
color: #ffffff;
}
/* Hero section */
#hero {
    height: 100vh; /* Full viewport height */
    width: 100%;
    background: url("../images/oldwoman.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: #DAEFB3;
    font-size:300%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    #cover-text h1 {
        font-size: 2em; /* Adjust for smaller screens */
    }
    #cover-text p {
        font-size: 1em; /* Adjust for smaller screens */
    }
}

#circle-cover-bg {
    background: url('../images/youngcouple.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#youngcouple-image {
    display: flex;
    align-items: center;
    justify-content: center;
}