/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* General styles */
body {
    background-color: #1C2826;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #EA9E8D;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #EA9E8D;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #DAEFB3;
}

.p {
color: #ffffff;
}

/* Hero section */
#hero {
    height: 100vh; /* Full viewport height */
    width: 100%;
    background: url("../images/oldwoman.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: #DAEFB3;
    font-size:300%;
    position: absolute;
    bottom: 30px;
    width:45%;
    min-height: 150px;
    padding-top: 40px;
    padding-left: 10px;
}

* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

#circle-cover-bg {
    background: url('../images/youngcouple.webp') no-repeat bottom center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #EA9E8D;
}